* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  height: 100%;
  width: 100%;
}

.nav-wrapper {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 10vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > h1 {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-family: fantasy;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  border: 1px solid #dae1f8;
  border-radius: 50%;
}

.icon > img {
  height: 28px;
  width: 28px;
}

/* Links Wrapper */
.links-wrapper {
  height: 10vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links-wrapper > a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #0e0f11;
  font-family: Arial, Helvetica, sans-serif;
}

.links-wrapper > a:hover {
  transform: scale(1.1);
}
